body {
    margin: 0;
    padding: 0;
    background-color: #000;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
}

#matrix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.username-container {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4px 6px;
    border-radius: 4px;
    font-size: 15px;
    color: #0F0;
    z-index: 1;
    display: flex;
    gap: 3px;
    box-sizing: border-box;
    text-shadow: 0 0 10px #0F0;
}

.letter {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.username-container .letter:nth-child(1) {
    animation-delay: 0.1s;
}
.username-container .letter:nth-child(2) {
    animation-delay: 0.2s;
}
.username-container .letter:nth-child(3) {
    animation-delay: 0.3s;
}
.username-container .letter:nth-child(4) {
    animation-delay: 0.4s;
}
.username-container .letter:nth-child(5) {
    animation-delay: 0.5s;
}
.username-container .letter:nth-child(6) {
    animation-delay: 0.6s;
}
.username-container .letter:nth-child(7) {
    animation-delay: 0.7s;
}