# Node.js dependencies
node_modules/

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

lib-cov

coverage

.npm

.eslintcache

.node_repl_history

.env

.next

.cache

.vscode/

.DS_Store

Thumbs.db
